{
	admin off
	servers {
		protocols h1
	}
}

:{$PORT:8080} {
	root * /srv
	encode zstd gzip
	header {
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "SAMEORIGIN"
		-Server
	}
	file_server
}
